<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">        
        <link rel="stylesheet" href="../static/style/home.css">
        <link rel="stylesheet" href="../static/style/form.css">
        <script src="../static/scripts/telefone.js" defer></script>
        <title>Área do Aluno - Faculdade Bakanas</title>
        <link rel="shortcut icon" href="../static/images/favicon.png"/>
<body>
    <header>
        <h1 class="h1-areadoalunoheader"> Bem vindo - Área do Aluno </h1>
        <nav>
            
        </nav>
    </header>
</body>
</html>