<!doctype html>

<html lang="pt-br">
    
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">        
        <link rel="stylesheet" href="../static/style/home.css">
        <link rel="stylesheet" href="../static/style/form.css">
        <script src="../static/scripts/telefone.js" defer></script>
        <title>Faculdade Bakanas</title>
        <link rel="shortcut icon" href="../static/images/favicon.png"/>
    </head>

    <body>
         
       <!-- Colocar em todas as Páginas--> 
       <main> 
            <header>   
                <img class="img-bkn-header"src="../static/images/header.jpeg">            
    
            </header>
        <!-- Colocar em todas as Páginas-->
            <nav>
                <ul>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/listacursos">Lista de Cursos</a></li>
                  <li><a href="/detalhescurso">Detalhes do Curso</a></li>
                  <li><a href="/disciplinas">Disciplina</a></li>
                  <li><a href="/noticias">Noticias</a></li>
                  <li class="botaologin"><a href="login">Login</a><li></li>
                </ul>
            </nav>


            <article>
               
                <h1 class="h1-home">Disciplina</h1>
                
                              
                <p align="justify">Veja as disciplinas de cada um de nossos cursos.</p>
                
                <aside>
                    <h1>Analise e Desenvolvimento de sistemas</h1>
                    <p><img src="../static/images/ads.jpg" alt="ads" width="235" height="299"></p>                  
                </aside>
                
                <p align="justify"><li>Comunicação e Expressão</li><li>Fundamentos de Banco de Dados</li><li>Introdução à Internet das Coisas - IoT</li><li>Linguagem de Programação I e II</li><li>Lógica de Programação</li><li>Matemática Aplicada</li><li>Linguagem SQL</li><li>Tecnologia Web</li><li>Engenharia de Software</li><li>Gestão de Projetos</li><li>Ambiente de Desenvolvimento e Operação - DevOps</li><li>Sociedade e Sustentabilidade - Optativa</li><li>Linguagem Brasileira de Sinais - LIBRAS - Optativa</li><li>Desenvolvimento de Aplicações Distribuídas</li><li>Estrutura de Dados</li><li>Análise e Modelagem de Sistemas</li><li>Engenharia de Requisitos</li><li>Interface Homem-Computador</li><li>OPE1 e 2 - Oficina Projeto Empresa 1 e 2</li><li>Arquitetura e Projeto de Sistemas</li>
                <li>Desenvolvimento para Dispositivos Móveis</li><li>Desenvolvimento para Internet das Coisas</li><li>Qualidade de Software</li></p>       
                <br><br>
                <aside>
                    <h1>Sistemas de informação</h1>
                    <p><img src="../static/images/si.jpg" alt="si" width="235" height="299"></p>                  
                </aside>
                    
                <p align="justify"><li>Comunicação e Expressão</li><li>Fundamentos de Banco de Dados</li><li>Introdução à Internet das Coisas - IoT</li><li>Linguagem de Programação I e II</li><li>Lógica de Programação</li><li>Matemática Aplicada</li><li>Linguagem SQL</li><li>Tecnologia Web</li><li>Engenharia de Software</li><li>Gestão de Projetos</li><li>Ambiente de Desenvolvimento e Operação - DevOps</li><li>Sociedade e Sustentabilidade - Optativa</li><li>Linguagem Brasileira de Sinais - LIBRAS - Optativa</li><li>Desenvolvimento de Aplicações Distribuídas</li><li>Estrutura de Dados</li><li>Análise e Modelagem de Sistemas</li><li>Engenharia de Requisitos</li><li>Interface Homem-Computador</li><li>OPE1 e 2 - Oficina Projeto Empresa 1 e 2</li><li>Arquitetura e Projeto de Sistemas</li>
                    <li>Desenvolvimento para Dispositivos Móveis</li><li>Desenvolvimento para Internet das Coisas</li><li>Qualidade de Software</li><li>Business Agility</li><li>Desenvolvimento de Sistemas de Informação</li><li>Startup e Inovação</li><li>Teoria da Computação</li><li>Análise de Viabilidade de Projetos</li><li>Análise Exploratória de Dados</li><li>Gestão de Projetos de Inovação</li>
                <li>Integração e Desenvolvimento de Sistemas</li><li>Business Intelligence</li><li>Segurança e Auditoria de Sistemas</li><li>Gestão de Infraestrutura de TI</li><li>Trabalho de Conclusão de Curso 1 e 2 - TCC1 e 2</li><li>Computação Cognitiva</li><li>Governança de TI</li><li>Sistemas Integrados de Gestão</li></p>
                <br><br>
                <aside>
                    <h1>Ciência da Computação</h1>
                    <p><img src="../static/images/ciencia.jpg" alt="ciencia" width="235" height="299"></p>                  
                </aside>
                    
                <p align="justify"><li>Cálculo I, II e III</li><li>Geometria Analítica e Álgebra Linear I e II</li><li>Algoritmos e Lógica de Programação I e II</li>
                    <li>Laboratório de Programação de Computadores</li><li>Comunicação e Expressão</li><li>Lógica Aplicada</li><li>Sociologia</li><li>Programação de Sistemas Web</li>
                    <li>Sistemas Digitais</li><li>Tecnologia de Informação e a Sociedade</li><li>Entretenimento Digital</li><li>Inovação e Empreendedorismo</li><li>Eletricidade e Magnetismo</li>
                    <li>Laboratório de Eletricidade e Magnetismo</li><li>Estruturas de Dados</li><li>Laboratórios de Estruturas de Dados</li><li>Sistemas Operacionais I e II</li><li>Matemática Discreta</li>
                    <li>Teoria dos Grafos</li><li>Circuitos Elétricos</li><li>Sistemas de Bancos de Dados</li><li>Projeto Interdisciplinar de Computação</li><li>Complexidade de Algoritmos</li>
                    <li>Arquitetura e Organização de Computadores</li><li>Microcontroladores e Microprocessadores</li><li>Probabilidade e Estatística</li><li>Organização e Recuperação de Informações</li>
                    <li>Circuitos Eletrônicos</li><li>Laboratório de Circuitos Eletrônicos</li><li>Métodos Numéricos</li><li>Programação Orientada a Objetos</li><li>Linguagem de Modelagem de Software</li>
                    <li>Metodologia de Trabalho Científico e Tecnológico</li><li>Engenharia de Software I e II</li><li>Pesquisa Operacional</li><li>Programação de Dispositivos Móveis</li><li>Arquitetura de Software</li>
                    <li>Linguagem Formais e Autômatos</li><li>Sistemas Multimídia</li><li>Redes de Computadores</li><li>Inteligência Artificial</li><li>Conceitos de Linguagem de Programação</li><li>Trabalho de Conclusão de Curso I e II</li>
                    <li>Sistemas Embarcados</li><li>Segurança de Sistemas</li><li>Sistemas Distribuídos</li><li>Computação Gráfica</li><li>Tópicos em Computação</li><li>Ética Profissional</li>
                    <li>Governança de Tecnologia da Informação</li><li>Economia</li><li>Compiladores</li><li>Sistemas Robóticos</li></p>
                <br><br>
                <aside>
                    <h1>Engenharia da Computação</h1>
                    <p><img src="../static/images/engenharia.jpg" alt="engenharia" width="235" height="299"></p>                  
                </aside>
                    
                <p align="justify" class="lista-1"><li>Circuitos Digitais e Eletrônicos</li><li>Comunicação e Expressão</li><li>Instrodução à Internet das Coisas -IOT</li>
                    <li>Linguagem de Programação I e II</li><li>Lógica de Programação</li><li>Matemática para Engenharia</li><li>Matemática para Engenharia</li><li>Banco de Dados</li>
                    <li>Conceitos e Aplicações de Cálculo</li><li>Engenharia de Software</li><li>Língua Brasileira de Sinais - LIBRAS (Optativa)</li><li>Sociedade e Sustentabilidade (Optativa)</li><li>Análise e Modelagem de Sistemas</li>
                    <li>Ciências do Ambiente</li><li>Desenvolvimento de Aplicações Distribuídas</li><li>Estrutura de Dados</li><li>Engenharia de Requisitos</li><li>Modelagem e Simulação de Sistemas Físicos</li>
                    <li>Circuitos Elétricos</li><li>Desenvolvimento para Dispositivos Móveis</li><li>Desenvolvimento para Internet das Coisas - IoT</li><li>Eletricidade e Magnetismo Aplicados</li><li>Matemática Discreta</li>
                    <li>Otimização de Sistemas Lineares</li><li>Análise Exploratória de Dados</li><li>Análise Numérica</li><li>Arquitetura de Computadores e Sistemas Operacionais</li>
                    <li>Eletrônica Analógica e Digital</li><li>Linguagens Formais e Autômatos</li><li>Processamento Digital de Sinais</li><li>Análise de Viabilidade de Projetos</li><li>Compiladores</li>
                    <li>Controle e Automação</li><li>Gestão Ágil de Projetos</li><li>Inteligência Artificial</li><li>Sistemas Distribuídos e Cloud Computing</li><li>Economia para Engenharia</li>
                    <li>Robôs Móveis Inteligentes</li><li>Segurança Cibernética</li><li>Startup e Inovação</li><li>Trabalho de Conclusão de Curso I e II</li><li>UX e Design Thinking</li><li>Indústria 4.0</li>
                    <li>Legislação e Ética</li><li>Projeto de Sistemas Embarcados</li><li>Sistemas Tolerantes a Falhas</li><li>Tópicos Especiais em Tendências Tecnológicas</li></p>
                <br><br><br><br><br><br><br>
                <aside>
                    <h1>Redes de Computadores</h1>
                    <p><img src="../static/images/redes.jpg" alt="engenharia" width="235" height="299"></p>                  
                </aside>
                    
                <p align="justify"><li>Administração de Redes e Sistemas</li><li>Arquitetura de Redes de Computadores</li><li>Cabeamento Estruturado</li>
                    <li>Comunicação e Expressão (EAD)</li><li>Fundamentos de Sistemas Operacionais</li><li>Introdução à Internet das Coisas - IoT</li><li>Programação para Redes</li><li>Administração de Redes e Sistemas Operacionais Livres</li>
                    <li>Ambiente de Desenvolvimento e Operação - DevOps</li><li>Gestão de Projetos (EAD)</li><li>Gestão de TI (EAD)</li><li>Oficina Projeto Empresa 1, 2 e 3 - OPE1, 2 e 3</li><li>Redes de Longa Distância</li>
                    <li>Routing</li><li>Segurança em Redes e Infraestrutura</li><li>Comunicação de Dados</li><li>Diagnóstico e Gerenciamento de Redes</li><li>Legislação e Ética (EAD)</li>
                    <li>Optativa (Sociedade e Sustentabilidade / Língua Brasileira de Sinais - LIBRAS) (EAD)</li><li>Redes Convergentes</li><li>Segurança em Sistemas</li><li>Switching</li><li>Computação em Nuvem</li>
                    <li>Comunicações Móveis</li><li>Auditoria e Controle de TI (EAD)</li><li>Redes IPV6</li><li>Serviços de Redes de Computadores</li>
                    <li>Tópicos Especiais em Redes de Computadores</li></p>
                <br><br><br>
                <aside>
                    <h1>Jogos Digitais</h1>
                    <p><img src="../static/images/jogos.jpg" alt="engenharia" width="235" height="299"></p>                  
                </aside>
                    
                <p align="justify"><li>Desenho e Concept Art para Jogos</li><li>Design de Jogos I e II</li><li>Empreendedorismo (EAD)</li>
                    <li>Introdução à Programação para Jogos Digitais</li><li>Introdução aos Jogos Digitais</li><li>Optativa (Sociedade e Sustentabilidade / Língua Brasileira de Sinais - LIBRAS) (EAD)</li><li>Arte 2D para Jogos Digitais</li><li>Ambiente de Desenvolvimento de Jogos Digitais</li>
                    <li>Arte 3D para Jogos Digitais</li><li>Programação para Jogos Digitais I e II</li><li>Processo de Produção de Jogos Digitais (EAD)</li><li>Game Level Design</li><li>Design de Personagens para Jogos Digitais</li>
                    <li>Jogos Digitais para Web</li><li>Roteirização e Storyboard para Jogos Digitais</li><li>Interfaces para Jogos Digitais (EAD)</li><li>Oficina Projeto Empresa 1 e 2 - OPE1 e 2</li><li>Animação, Áudio e Vídeo para Jogos Digitais</li>
                    <li>Estudos Complementares em Jogos Digitais</li><li>Jogos Digitais para Dispositivos Móveis</li><li>Marketing para Jogos Digitais (EAD)</li><li>Qualidade e Testes para Jogos Digitais</li></p>
                   
                   


            </article>

            <div class="apoio">
                <section class="fotos_apoio">
                    <br><br><br>
                    <img src="../static/images/bkns-pe.jpeg" class="img-bkns-pe"> 
                </section>
            </div>
            
            <!-- Colocar em todas as Páginas-->
            <footer>
                <p>Avenida Rudge 317 - Barra Funda - São Pualo</p>
                <p> &copy Copyright 2018 - Faculdade Bakanas - Todos os direitos reservados.</p>
            </footer>
    
       
     </main> 
    </body>

</html>