<!doctype html>

<html lang="pt-br">
    
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">        
        <link rel="stylesheet" href="../static/style/home.css">
        <link rel="stylesheet" href="../static/style/lista_cursos.css">
        <title>Faculdade Bakanas</title>
        <link rel="shortcut icon" href="../static/images/favicon.png"/>
    </head>

    <body>
         
       <!-- Colocar em todas as Páginas--> 
       <main> 
            <header>   
                <img class="img-bkn-header"src="../static/images/header.jpeg">            
    
            </header>
        <!-- Colocar em todas as Páginas-->
            <nav>
                <ul>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/listacursos">Lista de Cursos</a></li>
                  <li><a href="/detalhescurso">Detalhes do Curso</a></li>
                  <li><a href="/disciplinas">Disciplina</a></li>
                  <li><a href="/noticias">Noticias</a></li>
                  <li class="botaologin"><a href="login">Login</a><li></li>
                </ul>
            </nav>


            <div class="alinhar-divs">
                <div>
                    <h1>Análise e Desenvolvimento de Sistemas</h1>
                    <p>
                        <a href="/detalhescurso"><img src="../static/images/ads.jpg" onmouseover="ficaDaora(this)" onmouseout="ficaZuado(this)" alt="ads" width="265" height="210"></a>
                    </p>                  
                </div>
                <div>
                    <h1>Sistemas de informação</h1>
                    <p>
                        <a href="/detalhescurso"><img src="../static/images/si.jpg" onmouseover="ficaDaora(this)" onmouseout="ficaZuado(this)" alt="si" width="265" height="210"></a>
                    </p> 
                </div> 
   
                <div>
                    
                    <h1>Ciência da Computação</h1>
                    <p>
                        <a href="/detalhescurso"><img src="../static/images/ciencia.jpg" onmouseover="ficaDaora(this)" onmouseout="ficaZuado(this)" alt="ciencia" width="265" height="210"></a>
                    </p>  
                                    
                </div>
                <div>
                    
                    <h1>Jogos Digitais</h1>
                    <p>
                        <a href="/detalhescurso"><img src="../static/images/jogos.jpg" onmouseover="ficaDaora(this)" onmouseout="ficaZuado(this)" alt="engenharia" width="265" height="210"></a>
                    </p>
                </div>
                <div>
                    
                    <h1>Redes de Computadores</h1>
                    <p>
                        <a href="/detalhescurso"><img src="../static/images/redes.jpg" onmouseover="ficaDaora(this)" onmouseout="ficaZuado(this)" alt="engenharia" width="265" height="210"></a>
                    </p> 
                </div>   
                <div>   
                                     
                    <h1>Engenharia da Computação</h1>
                    <p>
                        <a href="/detalhescurso"><img src="../static/images/engenharia.jpg" onmouseover="ficaDaora(this)" onmouseout="ficaZuado(this)" alt="engenharia" width="265" height="210"></a>
                    </p>
                </div>

            </div>




            <!-- Colocar em todas as Páginas-->
            <footer>
                <p>Avenida Rudge 317 - Barra Funda - São Pualo</p>
                <p> &copy Copyright 2018 - Faculdade Bakanas - Todos os direitos reservados.</p>
            </footer>
    
       
    </main> 
    
    <script type="text/javascript" src="../static/scripts/listacursos.js"></script>
    </body>

</html>