html{
    background-color: black;
}
body {
    background-color: black;
}           
header{
    width:1200px;
    height:95px;
    background-color: black;
}
.img-bkn-header{
    margin-left: 110px;
}
nav{
    width: 1190px; 
    background-color: #000101; 
    font-size:20px; 
    height: 40px; 
    text-align: center;
    padding: 5px;
    box-shadow: inset 0 0 1em purple;
}
nav ul{
    list-style:none; 
    margin:0; 
    padding:4px;
}
nav ul li{ display:inline-block }
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    padding: 4px 20px;
}
nav ul li a:hover { background-color:#838B83;}

main{
    width:1200px;
    margin:-1px auto 10px;
    background-color:#FFE5FA;
}
article{
    float:left;
    margin:30px 20px;
    width:800px;
}
article p{
    color: black;
    font-size: 18px;
}

aside{
    float: left;
    width: 230px;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    padding: 0px 10px 0;
    font-style: italic;
    margin-right: 20px;
    margin-bottom: 20px;
}
aside p{
    color: #343538;
    font-size: 17px;
}
aside h1{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -10px;
}

.apoio{ 
    float:right;
    width:300px;
    margin-top:-10px;
    margin-bottom: -20px;
}		
footer{ 
    clear:both; 
    width:1190px; 
    margin:0 auto; 
    text-align:center; 
    background-color:#ECECEC; 
    padding:5px;
}
footer p{
    color: black;
    font-size:16px;
}
.h1-home{
    margin-left: 160px;
    text-align: center;
    color: purple;
    font-size: 50px;
    text-shadow: 1px 2px 4px black;
}
.h2-sobre{
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px 8px white;
}
.bkns{
    font-weight: bold;
    font-size: 20px;
}
h4{ font-size:1.6em; margin:0 5px; }
p, li{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:0.9em;
    color:#555;
    line-height:1.8;
}
.h1-grad{
    font-weight: bold;
    text-shadow: 2px 2px 8px white;
    font-size: 30px;
}
.text-app{
    font-size: 5px;
}
.detalhesparadisciplinas{
    text-decoration: none;
    color: #000000;
    padding: 4px 20px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:0.9em;
    line-height:1.8;
}
.img-bkns-pe{
    width: 130px;
    margin-left: 80px;
    text-align:center;
}
.h3-fb{
    text-align: center;
}